:root {
  --main-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --third-color: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 60px;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
@media (max-width: 600px) {
  h1 {
    color: chocolate;
  }
}
h1 {
  font-size: 60px;
  padding-top: 30px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-weight: bold;
  opacity: 0.7;
  color: var(--third-color);
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact {
  background: var(--main-color);
  box-shadow: var(--third-color);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.about {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.homepage {
  color: var(--main-color);
  text-align: center;
  display: block;
  margin-top: 40px;
}
.h3 {
  margin-top: 10px;
}
.h1 {
  padding: 30px;
}

.email {
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 60px;
}
.col-md-6 {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
